.btn {
  background: #3674FF;
  border-radius: 28px;
  color: white;
  letter-spacing: 0;
  &:hover {
    background: #3674FF;
    border-radius: 28px;
    box-shadow: 0 6px 12px 0 rgba(54,116,255,0.50);
  }
  &:disabled {
    background: #D6D6D6;
    &:hover {
      cursor: default;
      box-shadow: none;
    }
  }
}

.btn-block {
  display: block;
}

.btn-modal {
  display: inline-block;
  width: 180px;
  height: 52px;
  font-size: 18px;
  border: 2px solid #3674FF;
  background: #FFFFFF;
  color: #3674FF;
  border-radius: 26px;
  &:hover {
    background: #3674FF;
    border-radius: 26px;
    color: #FFFFFF;
  }
}

.btn-primary {
  display: block;
  border: none;
  width: 180px;
  height: 52px;
}

.form-control {
  border: 1px solid #A0A0A0;
  border-radius: 6px;
  box-shadow: none;
  color: #565656;
  font-size: 0.875rem;
  line-height: 1.43;
  height: 36px;
}

input {
  &.active {
    background-color: #f5f5f5;
  }

  &.disabled {
    background-color: #e9ecef;
  }
}

.nav-item-text {
  &.active {
    font-weight: 500;
    color: #3674FF;
  }
}

.container {
  padding-left: 0;
  padding-right: 0;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
  border-radius: 4px;
  .box {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    h3 {
      font-size: 18px;
      color: #333333;
      letter-spacing: 0;
      padding-bottom: 29px;
      margin: 0;
    }
  }
}

.transparent {
  background-color: rgba(255, 255, 255, 0);
}

div.amount {
  position: relative;
  .symbol {
    font-size: 14px;
    line-height: 36px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 0;
  }
}
